* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
:any-link {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  width: 350px;
  height: 200px;
  border-radius: 4px;
  background-color: #f6f7f8;
  display: grid;
  place-content: center;
  font-size: 30px;
  font-weight: 900;
  color: #999;
}
.anim {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef0 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  background-position: 50% 0;
  animation: eff 1s linear infinite;
}

@keyframes eff {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -150% 0;
  }
}
span {
  height: 10px;
  width: 2px;
  background-color: red;
  position: absolute;
  top: 20px;
  left: 20px;
}
.container {
  width: 200px;
  height: 300px;
  background-color: #222;
  display: grid;
  place-content: center;
}
.container button {
  padding: 5px 9px;
  font-size: 19px;
}

.box {
  background-color: red;
  width: 200px;
  height: 15px;
  position: absolute;
}
